$font-style: Helvetica, sans-serif;
$font-size: 16px;
$primary-color: #eff6fd;
@mixin center-position ($direction, $content)
{
    display: flex;
    align-items: center;
    flex-direction: $direction;
    justify-content: $content;
}

*
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body
{
    font-size: $font-size;
    font-style: $font-style;

    width: 100%;
    min-height: 100%;
    padding: 1% 5%;
}

.form-wrapper
{
    justify-content: center;

    @include center-position(column, space-between);

}

.header
{
    height: 80px;
    margin-bottom: 5%;

    border: 1px dashed #000;
    background-color: $primary-color;

    @include center-position(row, space-around);
    &__title
    {
        font-size: $font-size * 2;
      flex-basis: 70%;
    }
}

.input
{
    width: 300px;
    height: 30px;
    margin-bottom: 2%;
    padding: 10px;

    border: 1px solid black;
    outline: none;
    &_width-500
    {
        width: 500px;
        height: 50px;
    }
}

.button
{
    display: inline-block;

    width: 120px;
    height: 30px;
    margin: 0 30px 15px;

    cursor: pointer;

    border: 1px solid black;
    outline: none;
    background-color: $primary-color;
    &_width-500
    {
        width: 300px;
    }
    &:hover
    {
        opacity: .7;
    }
}

.polls {
  &__header
  {
    font-size: $font-size * 1.5;
    margin-bottom: 15px;
  }

  &__item {
    margin-bottom: 5px;
  }
}
